.columns {
	display: flex;
	flex-direction: row;
	margin: 0 -5px;

	.column {
		flex: 1;
		padding: 0 5px;

		// &.column-1-3{
		// 	width: 33.3333%;
		// }
		$numList: (2, 3, 4, 5);

		@each $num in $numList {
			@for $i from 1 through ($num - 1) {
				&.column-#{$i}-#{$num} {
					flex: none;
					width: $i / $num * 100%;
					box-sizing: border-box;
				}
			}
		}

		&.dirCol {
			flex-direction: column;
		}

		&.noFlex {
			flex: none;
		}

		&.vaMiddle {
			display: flex;
			align-items: center;
		}

		&.justify {
			display: flex;
			justify-content: center;
		}
	}
}